//only certain browsers because of this https://github.com/babel/babel/issues/7789
{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 Chrome versions",
            "last 2 FireFox versions",
            "last 2 Safari versions",
            "Explorer >= 11",
            "last 2 Edge versions"
          ]
        },
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties"
  ]
}